
<form>
  <div class="mb-3">
    <label for="usernameInput" class="form-label">Username</label>
    <input type="text" class="form-control" id="usernameInput" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Please enter your username</div>
  </div>
  <div class="mb-3">
    <label for="passwordInput" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordInput">
  </div>
  <button type="submit" class="btn btn-primary" id="signUpBtn">Sign Up</button>
</form>

