<h1>My todos</h1>
<h1>I love {{ coolestGuyInTheWorld }}</h1>


<h2>My favorite food is {{ favoriteFood }}</h2>

<h3>My todos</h3>


<ul>
  {{#each todos as |todo|}}
    <li>{{todo}}</li>
  {{/each}}
</ul>

