<!-- username password -->


<h1>All the users</h1>


<ul>
  {{#each users as |user| }}
    <li>
<!--      id here would be user id-->
      <p>ID: {{ user.id }}</p>
      <p>Username: {{ user.username }}</p>
      <p>Password: {{ user.password }}</p>
    </li>
  {{/each}}
</ul>